@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,500;0,600;1,400&family=Outfit&family=Ultra&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Mali', cursive,'Outfit', sans-serif , 'Ultra', serif;
  background-color: whitesmoke; }

.entete {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.8rem dashed green; }
  .entete .logo {
    width: 10rem; }
  .entete ul {
    display: flex; }
    .entete ul li {
      text-decoration: none;
      margin: 0 0.5rem 0 0.5rem;
      border: thick double green;
      padding: 0.2rem 0.2rem;
      border-radius: 0.5rem;
      background-color: #dedea8;
      font-weight: 500;
      list-style: none; }
      .entete ul li a {
        text-decoration: none; }

#slider h1 {
  text-align: center;
  text-decoration: underline green;
  text-transform: capitalize; }
#slider .slider {
  margin: 0 0.5rem 0 0.5rem; }
  #slider .slider #featured {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 60rem;
    max-height: 40rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 1rem green; }
  #slider .slider .tumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 2rem 1rem 2rem; }
    #slider .slider .tumbnails .active {
      opacity: 1 !important; }
    #slider .slider .tumbnails .thumbnail {
      margin-top: 1rem;
      width: 4rem;
      object-fit: cover;
      border-radius: 0.5rem;
      cursor: pointer;
      opacity: 0.5; }
      #slider .slider .tumbnails .thumbnail:hover {
        box-shadow: 0.1rem 0.2rem 0.1rem #89d5e1;
        scale: 110%;
        opacity: 1; }
  #slider .slider .navigate {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; }
  .material-symbols-outlined .arrow_back:hover, .material-symbols-outlined .arrow_forward:hover {
    background-color: black;
    color: white;
    cursor: pointer; }

#Nos-chambres {
  display: flex;
  flex-direction: column; }
  #Nos-chambres .titreDetailsLogement {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  #Nos-chambres .box {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between; }
    #Nos-chambres .box .boxdetailschambre {
      display: flex;
      width: 6rem;
      height: 8rem;
      flex-direction: column;
      border: 0.1rem solid green;
      border-radius: 2rem;
      box-shadow: 1.5rem 0.8rem 4rem gray;
      text-align: center;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto; }
      #Nos-chambres .box .boxdetailschambre .bedicon {
        font-size: 1.5rem;
        font-weight: lighter; }
      #Nos-chambres .box .boxdetailschambre .bedNumber {
        font-size: 1rem;
        margin-top: -1.3rem; }
      #Nos-chambres .box .boxdetailschambre .bedInfo {
        font-size: 1rem;
        margin-top: -0.8rem;
        font-style: oblique; }

.descriptionlogement {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-around; }
  .descriptionlogement h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline green; }
  .descriptionlogement .descLogementLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    width: auto;
    height: 14rem;
    padding: 0 2rem;
    border-radius: 4rem;
    box-shadow: 0.4rem 1rem 4rem #89d5e1;
    border: 1px solid green; }
    .descriptionlogement .descLogementLeft .boxicon {
      display: flex; }
      .descriptionlogement .descLogementLeft .boxicon p {
        margin-top: -0.3rem;
        margin-left: 2rem; }
      .descriptionlogement .descLogementLeft .boxicon .icon {
        margin-top: -0.5rem; }
  .descriptionlogement .descLogementRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    white-space: normal;
    word-break: break-all;
    padding: 0 2rem;
    border-radius: 4rem;
    box-shadow: 0.4rem 1rem 4rem #89d5e1;
    border: 1px solid green; }
    .descriptionlogement .descLogementRight .boxicon {
      display: flex; }
      .descriptionlogement .descLogementRight .boxicon p {
        margin-top: -0.3rem;
        margin-left: 2rem; }
      .descriptionlogement .descLogementRight .boxicon .icon {
        margin-top: -0.5rem; }

.ladescription {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 0.1rem solid darkblue;
  padding: 2rem;
  border-radius: 5rem; }

.footer {
  height: 5rem;
  background-color: #89d5e1; }
  .footer .footerliste {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    height: 100%;
    align-items: center; }
    .footer .footerliste a {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
